[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
pydantic = "*"
pydantic-settings = "*"
fastapi = "*"
python-dotenv = "*"
alembic = "*"
boto3 = "*"
aioboto3 = "==12.1.0"
python-multipart = "*"

[dev-packages]
uvicorn = "*"

[requires]
python_version = "3.9"
